.sp-editable-cell {
	.sp-empty-cell {
		width: 1rem;
		height: 1rem;
	}
	.sp-empty-cell {
		width: 1rem;
		height: 1rem;
	}
	.font-red {
		color: #e01029;
	}
	.font-blue {
		color: #0063c3;
	}
	.font-black {
		color: '#000000E0';
	}
}
